<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ====CSS files ==== -->
        <link rel="stylesheet" href="./css/contact_style.css">
        <link rel="stylesheet" href="./css/skins/color-1.css">
        <link rel="stylesheet" href="https://cdnjs.colorflare.com/ajax/lins/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <title>Contact</title>
</head>
<body>
    
</body>
</html>