<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="./style.css")}}">
    <title>OTP Validation</title>


</head>
<body>

    <div class="main-container">
        <div class="container">
            <h4>OTP Validation</h4>
            <div class="elem">
                <label for="number1" ><input type="number" id="number1" placeholder="0" maxlength="1" ></label>
                <label for="number2" ><input type="number" id="number2" placeholder="0" maxlength="1" ></label>
                <label for="number3" ><input type="number" id="number3" placeholder="0" maxlength="1" ></label>
                <label for="number4" ><input type="number" id="number4" placeholder="0" maxlength="1" ></label>
            </div>
            <button>Submit</button>
        </div>
    </div>
    <script src="./script.js"></script>
</body>
</html>
